#result{
    margin:30px;
    text-align:center;
    display: none;
}

#addRev{
    color: #08A2DF;
    font-size: 40;
    font-weight: bold;
}

h2#MonthlyRev{
    text-align: center;
    display: block;
    margin-top: 50px;
}

#expandOptions{
    cursor: pointer;
}

#closeRates{
    display: none;
  
}
a.link {
    font-family: arial;
    text-decoration: none;
    color: 666666;
}

i.lab.icon{
    float:right;
    margin-left: 7px;
}

#fConf-check,#fConf-att,#cConf-check,#cConf-att,#tConf-check,#tConf-att{
    float:left;
}

.margins{
    color:#5F5F5F;
    font-family:Arial, Helvetica, sans-serif;
}

body {
  color:#5F5F5F;
    font-family:Arial, Helvetica, sans-serif;
}
table, tr, td, th {
    text-align: center;
    border-collapse: collapse;   
}


h1, h2, h3, h4 {
    text-align:center;
    margin:3px 0px 1px 0px;
    font-family: arial;
}

.ci {
    position:relative;
    float:right;
    font-size:14px;
    color:#666666;
}
.highchartsDisplay {
  display: inline-block;
  float:right;
}

#linksy , #removeLastExperiece , #resetExperiece, #contributors {
    display: none;
}


.inline {
	display:inline-block;
}

.third {
	max-width:30%;
	margin-left:25px;
	vertical-align: top;
	margin-top: 30px;
	
}

@media screen and (max-width: 900px) {
    .third{
    	display:block;   	
    	max-width:450px;
    }
}