/*theme CSS*/
.margins{
    max-width: 960px;
    width:100%;
    margin: 0 auto;
}

h3.ui.header {
  margin-right: 15px;
  display:inline-block;
}

h4.ui.header {
  margin-right: 15px;
  display:inline-block;
}
h4.ui.header:last-child {
  margin-right: 0px;
  display:inline-block;
}

@media only screen and (max-width: 768px) {
	h3.ui.header {
	  line-height: 1.33;
	  font-size: .8em;
	  margin-right: 5px;
	  display:inline-block;
	}
	h4.ui.header {
	  margin-right: 5px;
	}
	.ui.table td {
	  padding: 0.40em 0.3em;
	  vertical-align: middle;
	}
	.ui.table tbody {
      display: table-row-group;
    }
	tbody tr th{
      font-size: 13px;
	}
	.ui.table tr {
      display: table-row; 
    }
    .ui.table tr > td {
      width: auto !important;
      padding: 0.20em 0.3em;	
    }
	.ui.celled.table th, .ui.celled.table td {
	  border: 1px solid rgba(0, 0, 0, 0.1);
	  text-align: middle;
	  border-bottom: none;
	}
    .ui.table td:first-child {
      font-weight: bold;
      /*padding-top: 1em; */
    }
    .ui.table td:last-child {
      padding-bottom: inherit;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    .ui.input input {
      font-size: 12px;
      padding: 0.5em 0.2em;
    }
    .ui.input input.screengrab {
	  width: 90%;
    }
}